@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<section class="section confirm-section">
    <div class="container">
        <div class="col-md-12">
            <div class="confirm-box">
                <h1 class="text-danger">Error.</h1>
                <br/>
                <h2 class="text-danger">An error occurred while processing your request.</h2>
                <br />
                <a href="https://mail.google.com/mail/" target="_blank" class="btn btn-info">Please Confirm Email to Login</a>
            </div>
        </div>
    </div>
</section>




