
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section confirm-section">
    <div class="container">
        <div class="col-md-12">
            <div class="confirm-box">
                <h3>Thank you for signing up!</h3>
                <p>We have send an confirmation email to your inbox</p>
                <p>Please confirm Email to continue</p>
                <a class="btn btn-info" href="https://mail.google.com/mail/" target="_blank">Confirm</a>
            </div>
        </div>
    </div>
</section>


